services:
  db:
    image: postgres:14-alpine
    expose:
      - "5432"
    ports:
      - "5437:5432"
    volumes:
      - ./data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: "change-password"
      POSTGRES_DB: "acs3_db"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 2s
      timeout: 2s
      retries: 10
  api:
    command: bash entrypoint.sh
    build:
      context: backend
    expose:
      - "8000"
    ports:
      - "8007:8000"
    volumes:
      - ./backend:/app
    env_file:
      - .env.backend
    depends_on:
      db:
        condition: service_healthy
  web:
    command: bash -c "pnpm install -r && pnpm --filter web dev"
    build:
      context: frontend
    volumes:
      - ./frontend:/app
    expose:
      - "3000"
    ports:
      - "3007:3000"
    env_file:
      - .env.frontend
    depends_on:
      - api


volumes:
  pgdata:
    external: false